<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.education</string>

    <!-- Update Build Number (Must be higher than 2) -->
    <key>CFBundleVersion</key>
    <string>0</string> <!-- Change this to 3 or higher -->

    <!-- Keep the app version as 1.1 -->
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
</dict>
</plist>
